<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Строку ниже пишем, потому что viewport нужен, чтобы работали адаптивные версии на всех мобильных устройствах-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Это ссылка на CSS
    атрибут rel (от англ. «relationship» – отношение) – это атрибут HTML, описывающий ссылку, т.е. тег href-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">
    <title>Admin panel</title>
</head>
<body>

<!--Создаем шапку-->
<header>
    <div class="container">
        <div class="text-left">admin@mail.ru with roles: ADMIN USER </div>
    </div>


</header>

<h3>Пользователи</h3>
<table>

    <thead>
    <tr>
        <th>Имя</th>
        <th>Пароль</th>
        <th>Роль</th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:text="${user.getRoles()}"/>


        <td>
            <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.id})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.id})}">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" value="Удалить"/>
            </form>
        </td>



    </tr>

    <td>
        <form th:method="GET" th:action="@{/admin/new}">
            <input type="submit" value="Создать нового пользователя"/>
        </form>
    </td>


    <td>
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" value="Выйти из системы"/>
        </form>
    </td>

    </tbody>
</table>


</body>
</html>