<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

    <title>User page</title>
</head>
<body>

<form method="POST" th:action="@{/logout}" th:object="${user}">
    <!--Это под id #v-pills-user", который раскрывается, когда нажимаешь button "New user"-->
    <!--USER-->
    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
        <table class="table table-striped table-responsive caption-top">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.getId()}"/>
                <td th:text="${user.getUsername()}"/>
                <td th:text="${user.getLastname()}"/>
                <td th:text="${user.getAge()}"/>
                <td th:text="${user.getEmail()}"/>

                <td>
                <span th:each="role : ${user.getRoles()}"
                      th:text="${role.getRole().replace('ROLE_', '') + ' '}">
                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<!--    <div class="main block">-->

<!--        <h3>Страница пользователя</h3>-->

<!--        <div class="field">-->
<!--            <label for="username">Имя</label>-->
<!--            <input type="username" th:field="*{username}" id="username"/>-->
<!--        </div>-->

<!--        <div>-->
<!--            <label>Роли:-->
<!--                <input type="checkbox" name="roles"-->
<!--                       th:each="role: ${userRoles}"-->
<!--                       th:text="${role.getRole()}"-->
<!--                       th:value="${role.getId()}"-->
<!--                       th:field="*{roles}"/>-->
<!--            </label>-->
<!--        </div>-->

<!--        <br>-->
<!--        <form th:method="POST" th:action="@{/logout}">-->
<!--            <input type="submit" value="Выйти из системы"/>-->
<!--        </form>-->

    </div>
</form>


<!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>